body {
	background: -webkit-linear-gradient(rgb(64, 64, 64), rgb(102, 102, 255));
	background: -moz-linear-gradient(rgb(64, 64, 64), rgb(51, 51, 255));
	background: -o-linear-gradient(rgb(64, 64, 64), rgb(51, 51, 255));
	background: linear-gradient(rgb(64, 64, 64), rgb(102, 102, 255));
}

header {
	width: 900px;
	margin: 0 auto 0 auto;
}

header img {
	border: 3px solid rgb(255, 255, 255);
	border-radius: 25px;
}

nav {
	width: 900px;
	height: 100px;
	margin: 10px auto 25px auto;
	background-color: rgb(0, 0, 0);
	border: 3px solid rgb(255, 255, 255);
	border-radius: 25px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

nav li {
	float: left;
	width: 220px;
	font-size: 26px;
	word-spacing: 1px;
}

nav a {
	background-color: rgb(128, 128, 128);
	height: 50px;
	margin: 15px 0 15px 15px;
	padding-top: 20px;
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	border-radius: 25px;
}

nav a:hover {
	background-color: rgb(242, 42, 42);
}

.activo {
	background-color: rgb(165, 42, 42);
}

h1 {
	color: rgb(255, 255, 255);
	width: 800px;
	margin: 25px auto 25px auto;
	font-size: 38px;
	letter-spacing: 4px;
	word-spacing: 8px;
	font-weight: 900;
	text-align: center;
}

h2 {
	color: rgb(255, 255, 255);
	margin-left: 50px;
	font-size: 28px;
	text-decoration: underline;
	letter-spacing: 2px;
}

article {
	width: 900px;
	margin: 0 auto 25px auto;
	background-color: rgba(0, 0, 0, 0.7);
	border: 3px solid rgb(255, 255, 255);
	border-radius: 25px;
}

section {
	width: 850px;
	margin: 25px auto 25px auto;
	background-color: rgb(165, 42, 42);
	border: 3px solid rgb(0, 0, 0);
	border-radius: 25px;
}

p {
	margin: 15px 15px 35px 25px;
	font-size: 24px;
}

ul {
	margin: 15px 15px 35px 25px;
	list-style-type: hebrew;
}

li {
	font-size: 24px;
	color: rgb(255, 255, 255);
}

table {
	margin: 0 auto 0 auto;
	background-color: rgb(255, 255, 255);
	border-collapse: collapse;
}

th, td {
	border: 3px solid rgb(0, 0, 0);
	padding: 5px;
	text-align: left;
}

th {
	font-size: 34px;
}

td {
	font-size: 18px;
}

.galeria {
	margin: 0 0 25px 24px;
	border-radius: 50% 0;
	border: 2px solid rgb(255, 255, 255);
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.galeria:hover {
	cursor: pointer;
	border-radius: 0;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

#contacto {
	width: 400px;
	margin: 15px auto 35px auto;
}

input, textarea {
	font-size: 16px;
	padding: 5px;
	margin-bottom: 2px;
	border: 2px solid rgb(0, 0, 0);
}

footer {
	width: 900px;
	background-color: rgb(0, 0, 0);
	border: 3px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	margin: 0 auto 0 auto;
	text-align: center;
	font-size: 24px;
	padding-top: 10px;
	border-radius: 25px;
}